# SIMULATION : sim duration (min); CFL factor; number of Dumps
30; 1.0; 500

# VEHICLE FACTORY : init velocity factor min; init velocity factor max
60; 140

# CAR : length (m); max acceleration (m/s^2); max deceleration (m/s^2)
5; 5; 15

# LANE : length(m); max velocity (km/h); vehicles per min; has input lane ?; junction point (m); input length (m); input max velocity (km/h); input vehicles per minute
5000; 130; 40; 1; 1500; 1000; 70; 20